*.o
*.swp
*.xcuserstate
.DS_Store

/c_cpp/base/testBin
/c_cpp/base/testBin.dSYM/
/c_cpp/app/test_app.dSYM/
/c_cpp/app/test_app
/projects/mac-tshark-1.10.5/cscope.files
/projects/mac-tshark-1.10.5/cscope.out
/projects/mac-tshark-1.10.5/cscope.out.in
/projects/mac-tshark-1.10.5/cscope.out.po
